
<div id="content">
	<div style="width:600px; margin:0 auto;">
	<div style="font-size:16px">
	РА «КРІС» працює у сфері зовнішньої реклами на ринку Закарпатської
	області з 2001 р. Зовнішня реклама є пріоритетним видом діяльності нашого
	агентства. На сьогодні, ми володіємо власною мережею рекламоносіїв розміром
	3х6 м. (формат біллборд, призматрон, бек-лайт) і розміром 1,2х1,8 м. (формат
	сіті-лайт) по всій Закарпатській області (більше 200 площин).
	<br>Ми готові до плідної і взаємовигідної співпраці!<br>
	Наша команда:
	</div>
	</div>
<br>
	<div class="gallerey">
		<div class="photo"> 
			<span style="font-size:16px; color: black">Дикань Вікторія</span> <br>
			<span style="font-size:14px; color: #4b4b4b">Директор</span>
			<%= image_tag "victoria.jpeg" %> 
		</div>
		<div class="photo"> 
			<span style="font-size:16px; color: black">Панас Ірина</span> <br>
			<span style="font-size:14px; color: #4b4b4b">Начальник відділу зовнішьої реклами</span>
			<%= image_tag "ira1.jpg" %>
		 </div>
		<div class="photo"> 
			<span style="font-size:16px; color: black">Кізима Петро</span> <br>
			<span style="font-size:14px; color: #4b4b4b">Начальник відділу мактування</span>
			<%= image_tag "petro.jpeg" %> 
		</div>
		<div class="photo"> 
			<span style="font-size:16px; color: black">Несен Валерія</span> <br>
			<span style="font-size:14px; color: #4b4b4b">Головний бухгалтер</span>
			<%= image_tag "valeria.jpg" %> </div>
		<div class="photo"> 
			<span style="font-size:16px; color: black">Кізима Тетяна</span> <br>
			<span style="font-size:14px; color: #4b4b4b">Старший менеджер</span>
			<%= image_tag "tanya.jpeg" %> 
		</div>
		<div class="photo"> 
			<span style="font-size:16px; color: black">Танасюк Тетяна</span> <br>
			<span style="font-size:14px; color: #4b4b4b">Макетолог</span>
			<%= image_tag "tanatan.jpeg" %> 
		</div>
	</div>
</div>