<div id="content">
	<div class="links"> 
		<a href="#bill-boards">Білборди</a> |
		<a href="#citylight">Сіті-лайти</a> | 
		<a href="#back-light">Бек-лайти</a> |
		<a href="#prysm">Призматрони</a> |
		<a href="#rost">Розтяжки</a> |
		<a href="#brandmauer">Брандмауери</a>
		<br>
		<a href="#vis">Візитки</a> |
		<a href="#cal">Календарі</a> |
		<a href="#buk">Буклети</a> |
		<a href="#fla">Флаєра</a>
	</div>

	<br>
	<div id="text">
		<a name="bill-boars"></a>
		<h4>Білборди</h4>
			Білборд - рекламний щит євростандарту (розмір 3х6 м.)
			<%= image_tag "big_z.gif" %>
			<%= image_tag "big_z2.gif" %>
			<br><br>
		<a name="citylight"></a>
		<h4>Сіті-лайти</h4>
			Сіті-лайт – рекламний носій, розміром 1,2х1,8 м., з внутрішнім
			підсвічуванням.
			Встановлені сіті-лайти на зупинках суспільного транспорту, в центральній
			частині міст Ужгород і Мукачева.<br>
			<%= image_tag "city_z.gif" %>
			<br><br>
		<a name="back-light"></a>
		<h4>Бек-лайти</h4>
			Бек-лайт - рекламна конструкція розміром 3х6 метрів, що обов'язково
			має внутрішнє підсвічування. Для нанесення рекламного сюжету використовується
			виключно банерна тканина.<br><br>
		<a name="prysm"></a>
		<h4>Призматрони</h4>
			Призматрон (розміром 3х6 м., з вертикальними жалюзями, які міняють
			рекламне зображення) в м. Мукачево - це динамічна конструкція європейського
			зразка, яка дозволяє розмістити на одній площині три зображення, які в нічний час
			підсвічуються.<br><br>
		<a name="rost"></a>
		<h4>Розтяжки</h4>
			Розтяжка через дорогу
			- це двостороннє полотно (банер) розміщене над
			проїжджою частиною за допомогою тросових конструкцій, що кріпляться на
			спеціальні стовпи або на стіни довколишніх будівель (можна використовувати в
			якості вказівника):<br><br>
		<a name="brandmauer"></a>
		<h4>Брандмауери</h4>
		Брандмауер

– великоформатна настінна рекламна конструкція укріплена на
будівлях м. Мукачево:<br>
	<%= image_tag "brend.gif" %>
	<%= image_tag "bbbb.jpeg" %>
	<%= image_tag "brand1.gif" %>

	<a name="vis"></a>
		<h4>Візитки</h4>
		Візитки повноколірні – папір “крейда”, щільність паперу 250-300 г/
покриті лаком, 1, 2-сторонні. <br>
Візитки індивідуальні – підбір дизайнерського паперу, шовкодрук,
конгрев, тиснення фольгою різного кольору та ін. методи нанесення інформації.
м2, <br><br>

	
	<a name="cal"></a>
		<h4>Календарі</h4>
Календарі кишенькові – папір “крейда”, щільність паперу 250-300 г/
покриті лаком.
Також пропонуємо для практичного використання календарі різного типу та
формату за індивідуальним прорахунком:
- календарі настінні, календарі настільні, календарі-закладки, календарі
настільні перекидні, календарі-плакати, календарі-підставки для
ручок та ін.) <br><br>
<%= image_tag "pol6.gif" %>
	</div>	

	<a name="buk"></a>
		<h4>Буклети</h4>
	Буклети, каталоги різних форматів (А3, А4, А5 та ін.), що являють
собою компактний і недорогий варіант корпоративного проспекту, розрахований на
масову аудиторію.	 <br><br>
	<%= image_tag "pol1.gif" %>
	<%= image_tag "pol5.gif" %><br>
	<a name="fla"></a>
	<h4>Флаєра</h4>
	Флаєра (рекламна листівка) нестандартних форматів. Один з
	найдешевших ефективних рекламних носіїв. Ціль рекламної листівки – донести до
	споживача інформацію про продукт або послугу, сформувати інтерес і потребу в
	придбанні товару… <br>
	<%= image_tag "pol4.gif" %>
</div>